name: verify/js

on:
  pull_request:
    branches:
      - "*"
  push:
    branches:
      - master

env:
  NODE_VERSION: '12.16.3'

jobs:
  test:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v1

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: install yarn
        run: npm install -g yarn

      - run: |
          yarn
          yarn coverage
          bash <(curl -s https://codecov.io/bash)
  lint:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v2 # create-pull-request requires v2
        with:
          ref: ${{ github.head_ref }}

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: install yarn
        run: npm install -g yarn

      - run: |
          yarn
          yarn lint

      - name: Fix Lint Errors
        if: failure()
        run: |
          yarn lintfix

      - name: Get required PR variables
        if: failure()
        id: pr-vars
        uses: actions/github-script@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            return context.payload.number;

      - name: Create PR With Lint Fixes
        if: failure()
        uses: peter-evans/create-pull-request@v3.10.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "Automated prettier lint fix for #${{ steps.pr-vars.outputs.result }}"
          title: "Automated prettier lint fix for #${{ steps.pr-vars.outputs.result }}"
          branch: lint-fix
          branch-suffix: short-commit-hash
          body: |
            This pull request was created automatically to fix the Prettier lint failures in #${{ steps.pr-vars.outputs.result }}
